header{width: 100%; height: 70px; margin: auto; padding: 10px 0px;}
header .button{width: 50px !important; height: 50px !important; color: white;}
header .button svg{font-size: 25px !important;}
header .logo img{width: 100px; height: auto;}